<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../Librerias/jquery-3.1.1.min.js"></script>
    <script src="../Librerias/angular.js"></script>
    <script src="../Librerias/angular-resource.js"></script>
    <script src="controller.js"></script>
    <script src="service.js"></script>
    
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body ng-app="myApp" ng-controller="control">
<h1>{{algo}}</h1>
<div class="container">
    <div class="row">
        <table class="table table-bordered">
            <tbody>
            <tr>
                <td><strong>Nombre</strong></td>
                <td><strong>Nickname</strong></td>
                <td><strong>Evolución</strong></td>
                <td><strong>Tipo</strong></td>
                <td></td>
            </tr>
            <tr ng-repeat="key in pokemons track by $index">
                <td>{{key.nombre}}</td>
                <td>{{key.nick}}</td>
                <td>{{key.evolucion}}</td>
                <td>{{key.tipo}}</td>
                <td ng-click="eliminar(key.nick)" style="color:red">Elimina</td>
            </tr>
            </tbody>
        </table>
        <div class="row">
            nombre<input ng-model="nombre">
            nick<input ng-model="nick">
            evolucion<input ng-model="evolucion">
            tipo<input ng-model="tipo">
            <div class="btn btn-danger" ng-click="updatePlanti()"/>send/update</div>
        </div>
        <div class="row">
            <div class="btn btn-success col-lg-1" ng-click="panti()"/>PANTI</div>
        </div>
        <div class="row">
            <div class="btn btn-success col-lg-1" ng-click="getPlanti()"/>PLANTi</div>
        </div>
    </div>
</div>
</body>
</html>