html,body{
    height: 100%;
    width: 100%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    font-family: sans-serif;
}
.your-class img{
    width: 100%;
    display: inline-block;
}
.borde{
    border: solid 2px black;
    margin: 1%;
}