<nav class="nav navbar-default">
    <div class="container-fluid">
        <div class="nav navbar-brand">
            <a href="#">
                <h1><strong>Listname</strong></h1>
            </a>
        </div>
        <ul class="nav navbar-nav">
            <li ui-sref-active="active">
                <a href="#" class="" ui-sref="misListas"><h2>Listas suscrito</h2></a>
            </li>
            <li ui-sref-active="active">
                <a class="#" ui-sref="datos" href=""><h2>Mis datos</h2></a>
            </li>
        </ul>
    </div>
</nav>