html,body{
    height: 100%;
    width: 100%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    overflow: hidden;
}
body>div{
    width: 100%;
    height: 100%;
}
.imagenes{
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}
#slicks img{
	height:100%;
        display: inline-block;
}
#formulario{
    width: 100%;
    height: 90%;
}
#slicks{
    width: 100%;
    height: 10%;
    overflow: hidden;
}
#formulario>div{
    display: inline-block;
}
#slicks{
    background-color: gray;
}
#lateral{
    width: 14.5%;
    height: 100%;
    background-color: red;
}
form{
    width: 85.5%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}
form > div{
    display: inline-block;
    text-align: left;
    margin: 20px;
    margin-top: 10%;
}
@media screen and (max-width: 800px) and (min-width:600px){
    
    form > div{
        display: block;
        text-align: left;
        margin: 0px;
        margin-left: 40%;
    }
    form > div:first-child{
        margin-top: 20%;
    }
    #lateral{
        width: 0;
        height: 0;
        display: none;
    }

}
@media screen and (max-width: 599px){
    
    #lateral{
        width: 0;
        height: 0;
        display: none;
    }
    form > div{
        display: block;
        text-align: left;
        margin: 0px;
        margin-left: 20%;
    }
    form > div:first-child{
        margin-top: 20%;
    }
}